* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  color: #cac9ff;
  background-color: #ebf1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.result-summary {
  max-width: 736px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 32px;
  box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.16);
}

/************************************/
/* RESULTS SECTION */
/************************************/

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 32px;
  background-image: linear-gradient(
    180deg,
    #75f 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );
  padding: 38px 54px 55px;
}

.heading-primary {
  font-size: 24px;
  font-weight: 700;
}

.result-score {
  margin: 35px 0 28px;
  padding: 55px 59px 40px;
  background-image: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}

.result-score span {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  color: #fff;
}

.result-rank {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 14px;
}

/************************************/
/* SUMMARY SECTION */
/************************************/

.summary {
  display: flex;
  flex-direction: column;
  padding: 38px 40px 46px;
}

.heading-secondary {
  font-size: 24px;
  font-weight: 700;
  color: #303b59;
}

.summary-items-container {
  margin: 20px 0 41px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/************************************/
/* SUMMARY ITEMS */
/************************************/

.summary-item {
  padding: 17px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  font-weight: 700;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

/************************************/
/* SUMMARY ITEMS ACCENTS */
/************************************/

.accent-1 {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.accent-1 .tertiary-heading {
  color: hsl(0, 100%, 67%);
  font-size: 18px;
  font-weight: 500;
}

.accent-2 {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.accent-2 .tertiary-heading {
  color: hsl(39, 100%, 56%);
  font-size: 18px;
  font-weight: 500;
}

.accent-3 {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.accent-3 .tertiary-heading {
  color: hsl(166, 100%, 37%);
  font-size: 18px;
  font-weight: 500;
}

.accent-4 {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.accent-4 .tertiary-heading {
  color: hsl(234, 85%, 45%);
  font-size: 18px;
  font-weight: 500;
}

.accent-1 .tertiary-heading,
.accent-2 .tertiary-heading,
.accent-3 .tertiary-heading,
.accent-4 .tertiary-heading {
  font-size: 18px;
  font-weight: 500;
}

.summary-score {
  color: #cac9ff;
}

.summary-score span {
  color: #303b59;
}

/************************************/
/* BUTTON */
/************************************/

.btn {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 128px;
  background-color: #303b59;
  color: #fff;
  padding: 17px 0;
}

.btn:hover {
  cursor: pointer;
  background-image: linear-gradient(
    180deg,
    #75f 0%,
    #6943ff 0.01%,
    #2f2ce9 100%
  );
}

@media (max-width: 650px) {
  body {
    align-items: start;
  }

  /************************************/
  /* RESULTS SECTION */
  /************************************/
  .result-summary {
    grid-template-columns: 1fr;
  }

  .results {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 15px 54px 34px;
  }

  .result-score {
    padding: 35px 38px 22px;
  }

  .heading-primary {
    font-size: 18px;
  }

  .result-rank {
    font-size: 24px;
  }

  /************************************/
  /* SUMMARY SECTION */
  /************************************/

  .summary {
    padding: 24px 32px 30px;
  }

  .heading-secondary {
    font-size: 18px;
  }

  .summary-items-container {
    margin: 24px 0;
  }
}
